html {  /*Needed so the header
 touches the bottom of the window*/
	padding: 0;
	margin: 0;
	height: 100%;
	min-height: 100%;
	width: 100%;
	min-width: 100%;
}

body {  /*Needed so the header
 touches the bottom of the window*/
	padding: 0;
	margin: 0;
	height: 100%;
	min-height: 100%;
	width: 100%;
	min-width: 100%;
}

h1 {
	text-align: center;
	color: white;
	margin-left: 10%;
	margin-right: 10%;
	text-shadow: 2px 2px 8px #000000;
	font-size: 5em;
	margin-top: 30%;
	font-family: Helvetica, Arial;
}

header {
	float: left;
	width: 45%;
	min-height: 120%;
	background-color: black;
	background: url(images/1.jpg) center;
	background-size: cover;
	position: fixed;
}
/*Main Content*/
main {
	float: right;
	width: 55%;
	min-height: 100%;
}
section{
	padding-left: 10%;
	padding-right: 30%;
}

/*NAVIGATION*/
nav ul{
padding-top: 5px;
padding-left: 10%;
}
nav ul li{
	display: inline;
}
nav ul li a {
	text-decoration: none;
	color: #007acc;
	position:relative;
	font-size: 1.5em;
	border: 1px solid #007acc;
	padding: 7px;
	margin-right: 10px;
	margin-top: 5px;
	font-family: "Times";
	max-width: 20%;
}

nav ul li a:hover {
	color: white;
	 background-color: #007acc;
        -webkit-transition: background-color 500ms linear;
        -moz-transition: background-color 500ms linear;
        -o-transition: background-color 500ms linear;
        -ms-transition: background-color 500ms linear;
        transition: background-color 500ms linear;
}

/*Headings & Text*/
h2 {
	color: #007acc;
	font-family: Arial, sans-serif;
	font-size: 3em;
	margin-top: 0;
}

p {
	font-family: "Times";
	font-size: 1.2em;
}
section {
	background-color: rgba(0, 122, 204, 0.05);
	padding-top: 3%;
	padding-bottom: 3%;
}
section:hover {
		 background-color: rgba(0, 122, 204, 0.15);
        -webkit-transition: background-color 500ms linear;
        -moz-transition: background-color 500ms linear;
        -o-transition: background-color 500ms linear;
        -ms-transition: background-color 500ms linear;
        transition: background-color 500ms linear;
}

/*my photo*/
.frank {
	text-align: center;
}
.frank img {
	size: 2em;
	border-radius: 100%;
}