html, body {
  margin:0;
  padding:0;
}
/* Header */
#bg {
  position: absolute; 
  top: 0; 
  left: 0; 
  
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}

section {
  position: absolute;
}
/* Footer */

address {
  text-align: center;
  padding-top: 3%;
  padding-bottom: 3%;
}
i {
  font-size: 3em;
}
i:hover {
  color: #007acc;
}
a {
  text-decoration: none;
  color: #007acc;
}

footer p {
  text-align: center;
  margin-bottom: 0px;
}