html, body {
  margin:0;
  padding:0;
}

/* Footer */

address {
  text-align: center;
  padding-top: 3%;
  padding-bottom: 3%;
}
i {
  font-size: 3em;
}
i:hover {
  color: #007acc;
}
a {
  text-decoration: none;
  color: #007acc;
}

footer p {
  text-align: center;
  margin-bottom: 0px;
}